      <%= link_to  chicken_path(chicken.id) do %>
 <div class="card">
  <div class="card-img" alt="Card image">
  </div>

  <div class="card-body">
    <div class="top-text">
      <p class="card-title"><strong><%= chicken.name %></strong></p>
      <p class="card-breed"><strong>Breed</strong></p>
    </div>

    <div class="mid-text">
      <p class="card-age"> <%= chicken.gender.capitalize %>, <%= chicken.age %> years old</p>
      <p class="noise level"><%= chicken.noise_level%></p>
    </div>

    <div>
      <p class="price"><u><%= chicken.price %>€</u></p>
    </div>

  </div>
</div>
      <% end %>
