<div class="container new_view d-flex justify-content-center">
  <div class="row col-12 col-lg-8">
    <div class="card new p-5" style="font-family: 'Circular Std', sans-serif;">
      <%= simple_form_for (@chicken) do |f| %>
        <%= f.input :gender, collection: ["male", "female"] %>
        <%= f.input :breed, collection: ["Andalusian", "Brahma", "Brakel", "Dutch Bantam", "Hamburgh"] %>
        <%= f.input :age %>
        <%= f.input :egg_capacity, collection: [1, 2, 3, 4, 5] %>
        <%= f.input :noise_level, collection: ["low", "medium", "high"] %>
        <%= f.input :price %>
        <%= f.input :address,
                    input_html: {data: {address_autocomplete_target: "address"}, class: "d-none"},
                    wrapper_html: {data: {controller: "address-autocomplete", address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}}
        %>
        <%= f.input :description %>
        <%= f.input :photo, as: :file %>
        <div class="first-button-wrapper">
          <%= f.submit "Add chicken", class: "btn btn-warning first-button" %>
          <%= link_to "Cancel", chickens_path, class: "btn btn-secondary text-decoration-none first-button"%>
        </div>
      <% end %>
    </div>
  </div>
</div>
