<div data-controller="form" class="container new_view d-flex justify-content-center">
  <div class="row col-12 col-lg-8">
    <div class="card new p-5" style="font-family: 'Circular Std', sans-serif;">
      <h3 class="d-flex justify-content-center"><strong>Rent your chicken</strong></h3>
      <%= simple_form_for (@chicken) do |f| %>
        <%= f.input :gender, collection: ["male", "female"], input_html: {data: {form_target: "gender", action: "click->form#checkGender"}}%>
        <%= f.input :breed, collection: ["Andalusian", "Brahma", "Brakel", "Dutch Bantam", "Hamburgh"] %>
        <%= f.input :name %>
        <%= f.input :age %>
        <%= f.input :egg_capacity, collection: [1, 2, 3, 4, 5],  wrapper_html: {data: {form_target: "egg"}}%>
        <%= f.input :noise_level, collection: ["low", "medium", "high"],  wrapper_html: {data: {form_target: "noise"}}%>
        <%= f.input :price %>
        <%= f.input :address,
                    input_html: {data: {address_autocomplete_target: "address"}, class: "d-none"},
                    wrapper_html: {data: {controller: "address-autocomplete", address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}}
        %>
        <%= f.input :description %>
        <%= f.input :photo, as: :file %>
        <div class="first-button-wrapper">
          <%= link_to "Cancel", chickens_path, class: "btn text-decoration-none first-button", style: "background-color: #B7B7B7"%>
          <%= f.submit "Add chicken", class: "btn first-button", style: "background-color: #FBC209" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
