<h1>New chicken view works</h1>

<%= simple_form_for (@chicken) do |f| %>
  <%= f.input :age %>
  <%= f.input :breed, collection: ["Andalusian", "Brahma", "Brakel", "Dutch Bantam", "Hamburgh"] %>
  <%= f.input :egg_capacity, collection: [1, 2, 3, 4, 5] %>
  <%= f.input :gender, collection: ["male", "female"] %>
  <%= f.input :noise_level, collection: ["low", "medium", "high"] %>
  <%= f.input :description %>
  <%= f.input :price %>
  <%= f.submit "Book", class: "btn btn-primary" %>
<% end %>
<%= link_to "Cancel", chickens_path %>

