<div class="container d-flex justify-content-center" id="new_chicken">
  <div class="row col-12 col-lg-8">
    <div class="card p-5" id="new" style="font-family: 'Circular Std', sans-serif;">
      <%= simple_form_for (@chicken) do |f| %>
        <%= f.input :gender, collection: ["male", "female"] %>
        <%= f.input :breed, collection: ["Andalusian", "Brahma", "Brakel", "Dutch Bantam", "Hamburgh"] %>
        <%= f.input :age %>
        <%= f.input :egg_capacity, collection: [1, 2, 3, 4, 5] %>
        <%= f.input :noise_level, collection: ["low", "medium", "high"] %>
        <%= f.input :price %>
        <%= f.input :description %>
        <div class="first-button-wrapper">
          <%= f.submit "Book", class: "btn btn-danger first-button" %>
          <%= link_to "Cancel", chickens_path, class: "btn btn-secondary text-decoration-none first-button"%>
        </div>
      <% end %>
    </div>
  </div>
</div>
