<br>
<br>
<br>
<br>
<br>
<h1> <%= @chicken.age %> </h1>
<h1> <%= @chicken.breed %> </h1>
<h1> <%= @chicken.egg_capacity %> </h1>
<h1> <%= @chicken.gender %> </h1>
<h1> <%= @chicken.noise_level %> </h1>
<h1> <%= @chicken.user_id %> </h1>
<h1> <%= @chicken.description %> </h1>
<h1> <%= @chicken.price %> </h1>

<%= link_to "Book  chicken", new_chicken_booking_path(@chicken.id) %>
<%= link_to "Go back", chickens_path%>
