<br>
<br>
<br>
<br>
<br>
<h1> <%= @chicken.name %> </h1>
<h1> <%= @chicken.age %> </h1>
<h1> <%= @chicken.breed %> </h1>
<h1> <%= @chicken.egg_capacity %> </h1>
<h1> <%= @chicken.gender %> </h1>
<h1> <%= @chicken.noise_level %> </h1>
<h1> <%= @chicken.user_id %> </h1>
<h1> <%= @chicken.description %> </h1>
<h1> <%= @chicken.price %> </h1>

<%= link_to "Add this chicken to your booking", new_chicken_booking_path(@chicken.id) %>
