
<div id="index-booking">
  <div class="container">
   <h2>My bookings</h2>
    <% @bookings.each do |booking| %>
      <div class="big-card mt-3">
        <div class="cards">
          <div class="chicken-row row">
              <div id="cardv2">
                <%= link_to booking_path(booking.id) do %>
                  <div class="card">
                    <div class="card-img" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path booking.chicken.photo.key, height: 300, crop: :fill %>')">
                    </div>
                    <div class="card-body">
                      <div class="top-text">
                        <h5 class="card-title"><strong><%= booking.chicken.name %></strong></h5>
                      </div>
                        <span class="dates">
                          <i class="fa-regular fa-calendar"></i>
                          <%= booking.start_date.strftime("%d %b") %> – <%= booking.end_date.strftime("%d %b %Y") %>
                          <% a = booking.start_date %>
                          <% b = booking.end_date %>
                          <span class="days"> <%= b.mjd - a.mjd %> days </span>
                        </span>

                        <strong> Status: </strong>
                        <% if booking.booking_status == "pending" %>
                          <i class="fa-solid fa-spinner"></i>
                        <% else %>
                          <i class="fa-solid fa-circle-check"></i>
                        <% end %>

                    </div>
                  </div>
                <% end %>
              </div>
          </div>
        </div>
      </div>
    <% end %>
    <div class="legend">
      <%# <p>Pending: <i class="fa-solid fa-circle-exclamation"></i></p> %>
      <p>Pending: <i class="fa-solid fa-spinner"></i></p>
      <p>Recject: <i class="fa-solid fa-circle-xmark"></i></p>
      <p>Aproved: <i class="fa-solid fa-circle-check"></i>
    </div>
  </div>
</div>
