<header class="header">
  <div class="adios">
    <%= link_to root_path do %>
        <%= image_tag "ChickPals.svg", id: "logo" %>
    <% end %>
  </div>

  <%= simple_form_for :chicken, url: chickens_path, method: :get, html: {class: "d-flex flex-grow-1 justify-content-center"} do |f| %>
    <div class="d-flex align-items-center header__search">
      <%= f.input :query,
                  label: false,
                  wrapper: false,
                  value: params[:query],
                  input_html: {
                    class: "form-control border-0 kill-focus",
                  },
                  placeholder: "Find a chicken..." %>
      <%= f.submit "", class: "test-submit mr-3" %>
    </div>
  <% end %>

    <%# Changes Create Chicken button if user is not signed in %>
    <% if user_signed_in? %>
      <%= link_to new_chicken_path, class: "header__nav__button header__nav__button-butty" do %>
        <strong>Rent your chicken</strong>
      <% end %>
    <% else %>
      <%= link_to new_user_session_path, class: "header__nav__button header__nav__button-butty" do %>
        <strong>Rent your chicken</strong>
      <% end %>
    <% end %>

    <%# Profile Dropdown menu %>
      <div class="dropdown">
        <div class="header__nav__button header__nav__button-account dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          <%= image_tag("icons8-menu.svg") %>
          <% if user_signed_in? %>
            <%= image_tag("profile-chicken-pic.jpg") %>
          <% else %>
            <%= image_tag("account.svg") %>
          <% end %>
        </div>
        <% if user_signed_in? %>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="<%= new_user_session_path %>">Your Bookings</a></li>
            <li><a class="dropdown-item" href="<%= new_user_session_path %>">Manage your Listings</a></li>
            <hr>
            <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "dropdown-item", data: { turbo_method: :delete } %></li>
          </ul>
        <% else %>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="<%= new_user_session_path %>">Log In</a></li>
            <li><a class="dropdown-item" href="<%= new_user_registration_path %>">Sign Up</a></li>
          </ul>
        <% end %>
      </div>
  </div>
</header>
