<div id="show" class="container">
  <div class='booking-container'>
    <% @bookings.each do |booking| %>
      <div class="card-product">
        <%= cl_image_tag booking.chicken.photo.key, height: 300, width: 400, crop: :fill %>
        <div class="card-product-infos">
          <span class="name"><%= booking.chicken.name %></span>
          <span class="dates">
            <i class="fa-regular fa-calendar"></i>
            <%= booking.start_date.strftime("%d %b") %> – <%= booking.end_date.strftime("%d %b %Y") %>
            <% a = booking.start_date %>
            <% b = booking.end_date %>
            <span class="days"> <%= b.mjd - a.mjd %> days </span>
          </span>
          <span class="booker"><i class="fa-regular fa-user"></i> <%= booking.user.first_name %> <%= booking.user.last_name %></span>
          <span class="location"> <i class="fa-regular fa-map"></i> <%= Faker::Address.street_name %></span>
          <span class="price"><i class="fa-solid fa-sack-dollar"></i> <%= booking.chicken.price * (b.mjd - a.mjd)%></span>
          <span class="status">

            <%= simple_form_for booking do |f| %>
              <%= f.input :booking_status, as: :hidden, input_html: {value: "approved"}%>
              <a onclick="this.closest('form').submit();return false;" >
                <i class="fa-regular fa-circle-check"></i>
              </a>
            <% end %>


            <%= simple_form_for booking do |f| %>
              <%= f.input :booking_status, as: :hidden, input_html: {value: "denied"}%>
               <a onclick="this.closest('form').submit();return false;" >
                <i class="fa-regular fa-circle-xmark"></i>
              </a>
            <% end %>
            </span>
        </div>
      </div>
    <% end %>
  </div>
</div>
