<div id="show" class="container">
  <h3 class="Circular Std', sans-serif, fw-bold">My Requests</h3>
  <div class='booking-container'>
    <% @bookings.each do |booking| %>
      <div class="card-product">
        <%= cl_image_tag booking.chicken.photo.key, height: 300, width: 400, crop: :fill %>
        <div class="card-product-infos">
          <span class="name"><%= booking.chicken.name %></span>
          <span class="dates">
            <i class="fa-regular fa-calendar"></i>
            <%= booking.start_date.strftime("%d %b") %> – <%= booking.end_date.strftime("%d %b %Y") %>
            <% a = booking.start_date %>
            <% b = booking.end_date %>
            <span class="days"> <%= b.mjd - a.mjd %> days </span>
          </span>
          <span class="booker"><i class="fa-regular fa-user"></i> <%= booking.user.first_name %> <%= booking.user.last_name %></span>
          <span class="location"> <i class="fa-regular fa-map"></i> <%= Faker::Address.street_name %></span>
          <span class="price"><i class="fa-solid fa-sack-dollar"></i> <%= booking.chicken.price * (b.mjd - a.mjd)%></span>
          <span class="status">

            <%= simple_form_for booking do |f| %>
              <%= f.input :booking_status, as: :hidden, input_html: {value: "approved"}%>
              <a onclick="this.closest('form').submit();return false;" >
                <i class="fa-regular fa-circle-check"></i>
              </a>
            <% end %>


            <%= simple_form_for booking do |f| %>
              <%= f.input :booking_status, as: :hidden, input_html: {value: "denied"}%>
               <a onclick="this.closest('form').submit();return false;" >
                <i class="fa-regular fa-circle-xmark"></i>
              </a>
            <% end %>
            </span>
        </div>
      </div>
    <% end %>
  </div>

<br>
<br>
<br>





  <div class="accordion" id="accordionExample">
  <div class="accordion-item" style="border: none">
    <h3 class="accordion-header" id="headingOne">
      <button class="accordion-button" style="background-color: transparent" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
  <h3 class="Circular Std', sans-serif, fw-bold">Rented Out</h3>

      </button>
    </h3>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
    <div class='booking-container'>
    <%  @approved_bookings.each do |booking| %>
      <div class="card-product">
        <%= cl_image_tag booking.chicken.photo.key, height: 300, width: 400, crop: :fill %>
        <div class="card-product-infos">
          <span class="name"><%= booking.chicken.name %></span>
          <span class="dates">
            <i class="fa-regular fa-calendar"></i>
            <%= booking.start_date.strftime("%d %b") %> – <%= booking.end_date.strftime("%d %b %Y") %>
            <% a = booking.start_date %>
            <% b = booking.end_date %>
            <span class="days"> <%= b.mjd - a.mjd %> days </span>
          </span>
          <span class="booker"><i class="fa-regular fa-user"></i> <%= booking.user.first_name %> <%= booking.user.last_name %></span>
          <span class="location"> <i class="fa-regular fa-map"></i> <%= Faker::Address.street_name %></span>
          <span class="price"><i class="fa-solid fa-sack-dollar"></i> <%= booking.chicken.price * (b.mjd - a.mjd)%></span>
          <span class="status">

               <% if booking.booking_status == "approved" %>
                <h3 style="color:green">Approved</h3>
            <% else %>
               <h3 style="color:red">Dennied</h3>
            <% end %>
            </span>
        </div>
      </div>
    <% end %>
  </div>
      </div>
    </div>
  </div>

</div>
</div>
