<!DOCTYPE html>
<html>
  <head>
    <title>ChickPal</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.cdnfonts.com/css/circular-std" rel="stylesheet">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    		<link rel="stylesheet" href="application.scss"/>
  </head>

  <body>
    <%= yield %>
  </body>
</html>

<header class="header">
			<div class="header__logo">
         <%= image_tag "ChickPals.svg", id: "logo" %>

			</div>
			<div class="header__search">
				<button><strong>Selected breed</strong></button>
				<span></span>
				<button><strong>29 May - 2 June</strong></button>
				<span></span>
				<button>
					<strong> Female </strong>
					<div class="header__searchIcon">
            <%= image_tag("searchIcon.svg") %>

					</div>
				</button>
			</div>
			<div class="header__nav">
				<a href="" class="header__nav__button header__nav__button-greyHover"
					><strong>Rent your chicken</strong></a
				>

				<button class="header__nav__button header__nav__button-account">
          <%= image_tag("icons8-menu.svg") %>
          <%= image_tag("account.svg") %>
				</button>
			</div>
		</header>
